include README.md
include LICENSE
include requirements*.txt
include hypergrep/common/shared/libhs.so.5.4.0
include hypergrep/common/shared/libhyperscanner.so
include hypergrep/common/shared/libzstd.so.1.5.0
